<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- add -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- add -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- add -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- add -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- add -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- add -->

    <application
        android:label="GuardianLink"
        android:name="androidx.multidex.MultiDexApplication"
        android:icon="@drawable/logo">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwrvSB9fIcgpIElUAl1zOxi5K9k9Uonr8"/> <!-- api key -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="guardianlink.com"/>
                <data android:scheme="http"/>
            </intent-filter>
        </activity>

        <!-- Add receiver and service declarations for Workmanager -->
        <receiver
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmReceiver"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
        
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <!-- Don't delete the meta-data below. This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
</manifest>
